.contenuVerbe{
    width: 100vw;
    height: content;
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.EnteteVerbe{
    width: 10vw;
    margin-left: 15vw;
    margin-top: 2vw;
    margin-bottom: 0vw;
    display: flex;
    justify-content: center;
}  

.tableauVerbe{
    margin-top: 3vw;
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.titreTableauVerbe{
    width: 50vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aa804a;
    border-radius: 1vw;
    margin-bottom: 1vw;
}

.verbeTitre{
    font-size: 2vw;
    font-weight: bold;
}

.verbeDescription{
    font-size: 1.5vw;
    font-style: italic;
}

.ligneVerbe{
    width: 50vw;
    height:4vw;
    display: flex;
    flex-direction: row;
    background-color: #f1d2aa;
    border-radius: 1vw;
    margin-bottom: 1vw;
}

.celluleDrapeauVerbe{
    width: 5vw;
    height:4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ImageDrapeauVerbe{
    width: 2.75vw;
}

.celluleTexteVerbe{
    width: 20vw;
    height:4vw;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.2vw;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .contenuVerbe{
        width: 100vw;
        height: content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .EnteteVerbe{
        width: 100vw;
        margin-left: 5vw;
        margin-top: 2vw;
        margin-bottom: 0vw;
        display: flex;
        justify-content: left;
    }  
    
    .tableauVerbe{
        margin-top: 3vw;
        width: 90vw;
    }
    
    .titreTableauVerbe{
        width: 90vw;
        height: 8vw;
        border-radius: 2vw;
        margin-bottom: 2vw;
    }
    
    .verbeTitre{
        font-size: 4vw;
    }
    
    .verbeDescription{
        font-size: 3vw;
    }
    
    .ligneVerbe{
        width: 90vw;
        height:9vw;
        border-radius: 2vw;
        margin-bottom: 2vw;
    }
    
    .celluleDrapeauVerbe{
        width: 7.5vw;
        height:9vw;
    }
    
    .ImageDrapeauVerbe{
        width: 5vw;
    }
    
    .celluleTexteVerbe{
        width: 37.5vw;
        height:9vw;
        font-size: 3vw;
    }

}