.tableauAlphabet{
    margin-top: 5vh;
    width: 60vw;
    margin-left: 20vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding-bottom: 10vh;
}

.categoriesTableauAlphabet{
    width: 60vw;
    height: 5vh;
    background-color: #aa804a;
    border-color: #DEB887;
    border-style:solid;
    border-radius: 15px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

.ligneTableauAlphabet{
    width: 60vw;
    height: 5vh;
    background-color: #f1d2aa;
    border-color: #DEB887;
    border-style:solid;
    border-radius: 15px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

.celluleTableauAlphabet{
    width: 15vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

.celluleAudioTableauAlphabet{
    width: 15vw;
    height: 5vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.celluleAudioTableauAlphabet:hover{
    border-color: #aa804a;
    border-style:solid;
    border-radius: 15px;
}

.celluleAudioTableauAlphabet:active{
    background-color: #f3dfc5;
}

.lettreTableauAlphabet{
    font-size: larger;
    font-weight: bolder;
}

.texteTableauAlphabet{
    font-size: larger;
    font-style: italic;
    margin-right: 1vw;
}

.logoAudioTableauAlphabet{
    height:4vh;
    width: auto;
}

@media only screen and (max-width: 600px) {
    /* Styles spécifiques pour les téléphones ici */
    .tableauAlphabet{
        margin-top: 5vh;
        width: 88vw;
        margin-left: 6vw;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        padding-bottom: 10vh;
    }
    
    .categoriesTableauAlphabet{
        width: 88vw;
        height: 5vh;
        background-color: #aa804a;
        border-color: #DEB887;
        border-style:solid;
        border-radius: 15px;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        }
    
    .ligneTableauAlphabet{
        width: 88vw;
        height: 5vh;
        background-color: #f1d2aa;
        border-color: #DEB887;
        border-style:solid;
        border-radius: 15px;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        }
    
    .celluleTableauAlphabet{
        width: 22vw;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .celluleAudioTableauAlphabet{
        width: 22vw;
        height: 5vh;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .celluleAudioTableauAlphabet:hover{
        border-color: #aa804a;
        border-style:solid;
        border-radius: 15px;
    }
    
    .celluleAudioTableauAlphabet:active{
        background-color: #f3dfc5;
    }
    
    .lettreTableauAlphabet{
        font-size: 15px;
        font-weight: bolder;
    }
    
    .texteTableauAlphabet{
        font-size: 12px;
        font-style: italic;
        margin-right: 1vw;
    }
    
    .logoAudioTableauAlphabet{
        height:4vh;
        width: auto;
    }
}