.Fond{
    background-color: #DEB887;
    min-height: 100vh;
    max-height: max-content;
  }

.Contenu{
    display:flex;
    justify-content: left;
    margin-top: 5vh;
    margin-left: 15vw;
}

.LogoNavMenu{
    height: 5vh;
    width: auto;
}

.Carte{
    background-color:#f1d2aa;
    height: 10vh;
    width: 20vw;
    border-radius: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.Carte:hover{
    border-color: #aa804a;
    border-style:solid;
}

.TitreCarte{
    color:#aa804a;
    font-weight:bolder;
    font-size: 1rem;
}

@media only screen and (max-width: 600px) {
    /* Styles spécifiques pour les téléphones ici */
    .Contenu{
        display:flex;
        flex-direction: column;
        justify-content: left;
        margin-top: 5vh;
        margin-left: 15vw;
    }
    
    .Carte{
        background-color:#f1d2aa;
        height: 10vh;
        width: 70vw;
        border-radius: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top: 3vh;
    }
    
    .Carte:hover{
        border-color: #aa804a;
        border-style:solid;
    }
    
    .TitreCarte{
        color:#aa804a;
        font-weight:bolder;
        font-size: 1rem;
    }
}