.Fond{
    background-color: #DEB887;
    min-height: 100vh;
    max-height: max-content;
    min-width: 100vw;
    max-width: max-content;
    padding-bottom: 5vw;
  }

.Contenu{
    display:flex;
    justify-content: left;
    margin-top: 2.1vw;
    margin-left: 15vw;
}

.CarteTheme{
    background-color:#f1d2aa;
    height: 5vw;
    width: 20vw;
    margin-right: 5vw;
    border-radius: 1vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

.CarteTheme:hover{
    border-color: #aa804a;
    border-style:solid;
}

.EtiquetteDifficile {
    position: absolute;
    margin-left:17vw;
    margin-bottom: 5vw;
    background-color: red; /* Couleur de fond de l'étiquette */
    color: white; /* Couleur du texte de l'étiquette */
    padding-left: 0.8vw; /* Marge intérieure de l'étiquette */
    padding-right: 0.8vw;
    border-radius: 1vw; /* Rayon de la bordure de l'étiquette */
    font-size: 1.2vw; /* Taille de la police de l'étiquette */
    font-weight: bold;
  }

.TitreCarteTheme{
    color:#aa804a;
    font-weight:bolder;
    font-size: 1.2vw;
    margin-right: 1vw;
}

.LogoTheme{
    height: 3vw;
    width: auto;
}

@media only screen and (max-width: 600px) {

.Contenu{
    display:flex;
    justify-content: left;
    flex-direction: column;
    margin-top: 0vw;
    margin-left: 10vw;
}

.CarteTheme{
    height: 10vw;
    width: 80vw;
    margin-right: 0vw;
    border-radius: 2vw;
    margin-top: 3vw;
}

.EtiquetteDifficile {
    margin-left:70vw;
    margin-bottom: 8vw;
    background-color: red; /* Couleur de fond de l'étiquette */
    padding-left: 2vw;
    padding-right: 2vw; /* Marge intérieure de l'étiquette */
    border-radius: 2vw; /* Rayon de la bordure de l'étiquette */
    font-size: 3vw; /* Taille de la police de l'étiquette */
  }

.TitreCarteTheme{
    font-size: 4vw;
    margin-right: 2vw;
}

.LogoTheme{
    height: 5vw;
}
}