.Dizaine1{
    margin-top:2.5vw;
    width: 80vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
}

.LigneDizaine1{
    display: flex;
    flex-direction: row;
}

.CelluleChiffre{
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Chiffre{
    font-weight: bolder;
    font-size: 3vw;
    color:white;
}

.CercleChiffre{
    width: 5vw;
    height: 5vw;
    background-color:#aa804a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s ease;
}

.BoutonAudioChiffres{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 8vw;
    margin-top: 0.5vw;
}

.BoutonAudioChiffres:hover{
    background-color: #f1d2aa;
    border-radius: 15px;
    border-color: #aa804a;
    border-style:solid;
}

.TexteChiffres{
    font-weight: bolder;
    font-size: 1.5vw;
    margin-left: 0.5vw;
}

.LogoAudioChiffres{
    margin-top: 0.2vw;
    width: 1.4vw;
}

.tableauChiffre{
    margin-top:2.5vw;
    width: 70vw;
    margin-left: 13vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vw;
    border-radius: 1vw;
}

.colonneDizaine{
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.ligneDizaine{
    display: flex;
    flex-direction: row;
    background-color: #f1d2aa;
    border-color: #DEB887;
    border-style:solid;
    border-radius: 1vw;
    width: 30vw;
    height:2vw;
    align-items: center;
    justify-content: center;
}

.CelluleColonneDizaine{
    width: 10vw;
    height:2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CelluleColonneDizaineAudio{
    width: 10vw;
    height:2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CelluleColonneDizaineAudio:hover{
    border-color: #aa804a;
    border-style:solid;
    border-radius: 1vw;
}

.NumerosTableau{
    font-weight: bold;
    font-size: 1.2vw;
}

.texteNumeroTableau{
    font-style:italic;
    font-size: 1.2vw;
}

.LogoAudioNumeros{
    width: 2vw;
}

/* @media only screen and (max-width: 750px) { }*/
    /* Styles spécifiques pour les téléphones paysages ici */
 