.Introduction{
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.CarteTouraine1 {
    height: auto;
    width: 40vw;
}

.EspaceTexteIntroduction{
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-right: 5vw;
}

.TexteIntroduction{
    font-weight:bold;
    font-size: 1.2vw;
    margin:1vw;
}

.FondTexteIntroduction{
    background-color:#f1d2aa;
    border-radius: 2vw;
    margin-bottom: 5vw;
}

.ChevrePresentation{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.LogoPresentation{
    height: 10vw;
    width: auto;
    margin-right: 5vw;
}

.BulleQuestionPresentation {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: max-content;
    height: 3vw;
    margin: 1vw;
    display: flex;
    align-items: center;
  }
  
  .BulleQuestionPresentation::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 100%;
    border-width: 0.4vw;
    border-style: solid;
    border-color: transparent transparent transparent #ffffff;
  }
  

.PresentationBulle{
    font-size: 1.2vw;
    margin-left:1vw;
    margin-right:1vw;
    color:black;
    font-weight:bolder;
}
