.Introduction{
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.CarteTouraine1 {
    height: auto;
    width: 40vw;
}

.EspaceTexteIntroduction{
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-right: 5vw;
}

.TexteIntroduction{
    font-weight:bold;
    font-size: 1.2vw;
    margin:1vw;
}

.FondTexteIntroduction{
    background-color:#f1d2aa;
    border-radius: 2vw;
    margin-bottom: 5vw;
}

.ChevrePresentation{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.LogoPresentation{
    height: 10vw;
    width: auto;
    margin-right: 5vw;
}

.BulleQuestionPresentation {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: max-content;
    height: 3vw;
    margin: 1vw;
    display: flex;
    align-items: center;
  }
  
  .BulleQuestionPresentation::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 100%;
    border-width: 0.4vw;
    border-style: solid;
    border-color: transparent transparent transparent #ffffff;
  }
  

.PresentationBulle{
    font-size: 1.2vw;
    margin-left:1vw;
    margin-right:1vw;
    color:black;
    font-weight:bolder;
}

@media only screen and (max-width: 600px) {

    .Introduction{
        margin-top: 5vw;
        flex-direction: column-reverse;
    }
    
    .CarteTouraine1 {
        width: 80vw;
    }
    
    .EspaceTexteIntroduction{
        margin-right: 3vw;
        margin-left: 3vw;
    }
    
    .TexteIntroduction{
        font-size: 2.5vw;
        margin:2vw;
    }
    
    .FondTexteIntroduction{
        margin-bottom: 10vw;
        padding:2vw;
    }
    
    .LogoPresentation{
        margin-top: 1.5vw;
        height: 20vw;
        margin-right: 0vw;
        margin-bottom: 3vw;
    }
    
    .BulleQuestionPresentation {
        border-radius: 2vw;
        height: 6vw;
        margin: 2vw;
      }
      
      .BulleQuestionPresentation::before {
        border-width: 0.8vw;
      }
      
    
    .PresentationBulle{
        font-size: 3vw;
        margin-left:3vw;
        margin-right:3vw;
    }

}
