.ContenuTheme{
    display:flex;
    margin-top: 2.5vw;
    margin-left: 15vw;
}

.TrameQuestion{
    width: 60vw;
    display:flex;
    flex-direction: column;
}

.EnTeteExercice{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.BarreFond{
    width: 100%;
    height: 1.5vw;
    background-color: #ddd;
    border-radius: 1vw;
    overflow: hidden;
  }
  
  .BarreProgression{
    height: 100%;
    background-color: #4caf50; /* Couleur de remplissage */
    transition: width 0.3s ease-in-out; /* Animation de transition */
  }

  .Progression{
    font-size: 1.5vw;;
    margin-right:1vw;
    margin-left:1vw;
    color:black;
    font-weight:bolder;
    text-align: center;
  }

.EnteteQuestion{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2vw;
}

.LogoQuestion{
    height: 11vw;
    width: auto;
}

.BulleQuestion {
    position: relative;
    background-color: #ffffff;
    border-radius: 1vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: max-content;
    height: 3vw;
    margin: 1vw;
    display: flex;
    align-items: center;
  }
  
  .BulleQuestion::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 100%;
    border-width: 0.4vw;
    border-style: solid;
    border-color: transparent transparent transparent #ffffff;
  }
  

.QuestionBulle{
    font-size: 1.5vw;
    margin-left:1vw;
    margin-right:1vw;
    color:black;
    font-weight:bolder;
}

.Chevre{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.TitreQuestion{
    font-size: 2vw;
    margin-right:1vw;
    color:black;
    font-weight:bolder;
    text-align: center;
    align-self: center;
}

.ReponsesQuestion{
    display:flex;
    flex-direction: row;
    margin-bottom: 2vw;
}

.BouttonAudio{
    background-color:#f1d2aa;
    height: 4.5vw;
    width: 15vw;
    border-radius: 1vw;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
}

.BouttonAudio:hover{
    border-color: #aa804a;
    border-style:solid;
}

.BouttonAudioSelect{
    background-color:#aacdf1;
    height: 4.5vw;
    width: 15vw;
    border-radius: 1vw;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
}

.BouttonAudioSelect:hover{
    border-color: #4a78aa;
    border-style:solid;
}

.BouttonAudioBonneRep{
    background-color:#a7ee99;
    height: 4.5vw;
    width: 15vw;
    border-radius: 1vw;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
}

.BouttonAudioBonneRep:hover{
    border-color: #50a641;
    border-style:solid;
}

.BouttonAudioMauvRep{
    background-color:#ee9999;
    height: 4.5vw;
    width: 15vw;
    border-radius: 1vw;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
}

.BouttonAudioMauvRep:hover{
    border-color: #a64141;
    border-style:solid;
}

.TexteAudio{
    margin-right:0.2vw;
    color:#aa804a;
    font-weight:bolder;
    font-size: 1.3vw;
}

.TexteAudioSelect{
    margin-right:0.2vw;
    color:#4a78aa;
    font-weight:bolder;
    font-size: 1.3vw;
}

.TexteAudioBonneRep{
    margin-right:0.2vw;
    color:#50a641;
    font-weight:bolder;
    font-size: 1.3vw;
}

.TexteAudioMauvRep{
    margin-right:0.2vw;
    color:#a64141;
    font-weight:bolder;
    font-size: 1.3vw;
}

.ValidationReponse{
    display:flex;
    justify-content: center;
    align-items: center;
}

.BouttonValider{
    background-color:#a7ee99;
    height: 4.5vw;
    width: 15vw;
    border-radius: 1vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

.BouttonValider:hover{
    border-color:  #50a641;
    background-color: #a7ee99;
    border-style:solid;
}

.BouttonContinuerMauvaiseReponse{
    background-color:#ee9999;
    height: 4.5vw;
    width: 15vw;
    border-radius: 1vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

.BouttonContinuerMauvaiseReponse:hover{
    border-color:  #a64141;
    background-color: #ee9999;
    border-style:solid;
}

.TexteValider{
    color:#50a641;
    font-weight:bolder;
    font-size: 1.3vw;
}

.TexteContinuerMauvaiseReponse{
    color:#a64141;
    font-weight:bolder;
    font-size: 1.3vw;
}

.SpaceResultatVoc{
    margin-left: 5vw;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.SpaceResultatTexteVoc{
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.ResultatTexteVoc{
    margin-top: 1.8vw;
    font-size: 1.8vw;
    color: black;
    font-weight: bolder;
}
